@model IEnumerable<Dominio.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Página inicial - Home bebe
</p>
<ul>

    @foreach(var usuario in Model)
            {
                <li>@usuario.NomeUsu</li>
            }
</ul>